[Unit]
Description=blogson
After=network.target

[Service]
User=jan
WorkingDirectory=/home/jan/rss
ExecStart=~/.bun/bin/bun run start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
