[Unit]
Description=blogson deploy
After=network.target

[Service]
User=jan
WorkingDirectory=/home/jan/rss
ExecStart=~/.bun/bin/bun blogson-deploy.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
