<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{{ p.title ?? "blogsoni" }}}</title>
        <link rel="stylesheet" href="/public/style.css" />
        <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
    </head>

    <body>
        <header>{{{ p.header ?? "" }}}</header>

        <aside class="msg">{{{ p.msg ?? "" }}}</aside>

        <aside class="options">{{{ p.aside ?? "" }}}</aside>

        <main>{{{ p.body ?? "" }}}</main>

        <iframe id="site-preview" src="about:blank" title="page"></iframe>

        <footer>
            {{{ p.session?.is_admin ? `<a href="/admin">admin</a>` : "" }}}
            <a href="https://github.com/JanGolicnik/rss">source</a>
            <a href="https://github.com/JanGolicnik">my github</a>
        </footer>
    </body>

    {{{ p.script ? `<script src=\"${p.script}\"></script>` : "" }}}
</html>
