<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{{ p.title ?? "blogsoni" }}}</title>
        <link rel="stylesheet" href="/public/style.css" />
        <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />
    </head>

    <body>
        <header>{{{ p.header ?? "" }}}</header>

        {{{ p.msg ? `<aside class="msg"><p>${p.msg}</p></aside>` : "" }}}

        <aside class="options">{{{ p.aside ?? "" }}}</aside>

        <main {{p.wide_main ? `class="wide"` : ""}}>{{{ p.body ?? "" }}}</main>

        <footer>
            <a href="https://github.com/JanGolicnik/rss">source</a>
        </footer>
    </body>
</html>
