{{{ c.entry_article(p.entry) }}}

<div class="comments">
<script &&>
  let out = "";
  for (const comment of p.comments)
  {
    out += `<p>${comment.created_at} <a class="regular" href="/profile/?id=${comment.author_id}">&lt${escape(comment.username)}&gt</a>: ${escape(comment.content)}</p>`;
  }
  return out;
</script>
</div>

{{{ p.session ?
`
<form action="/entry/?id=${p.entry.id}" method="post">
    <input
        type="text"
        name="content"
        placeholder="something nice"
        maxlength="1234"
        required
    />
    <button type="submit" class="btn">post</button>
</form>
`
: ""
}}}
