<a class={{{ `"btn ${p.range === "week" ? "active" : ""}"` }}}  href="#" onclick="filterTime('week')">week</a>
<a class={{{ `"btn ${p.range === "month" ? "active" : ""}"` }}} href="#" onclick="filterTime('month')">month</a>
<a class={{{ `"btn ${p.range === "all" ? "active" : ""}"` }}}   href="#" onclick="filterTime('all')">all</a>
<a class={{{ `"btn ${p.sites_only ? "active" : ""}"` }}}        href="#" onclick="filterSites()">sites</a>

<div class="margin-left">
    <a href="/random" class="btn" rel="noopener">random</a>
    {{{ p.session ? `<a href="/submit" class="btn">submit</a>` : '' }}}
</div>
