<form class="vertical" action="/profile/?id={{p.user.id}}" method="post">
    <input
        type="text"
        name="mail"
        placeholder="mail"
        value="{{p.user.mail ?? ''}}"
    />
    <input
        type="text"
        name="site"
        placeholder="site"
        value="{{p.user.site ?? ''}}"
    />
    <input
        type="text"
        name="description"
        placeholder="description"
        value="{{p.user.description ?? ''}}"
    />
    <button type="submit" class="btn">update</button>
</form>

<form class="vertical" action="/logout" method="post">
    <button type="submit" class="btn">log out</button>
</form>

{{{ !p.user.cant_invite ?
    p.invite ? `<p>invite a friend thru this link: <a class="regular" href="/register/?invite=${p.invite}">invite</a>!</p>` : `<a href="/create_invite" class="btn">create invite</a>`
: "" }}}
