<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}blogson{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
{% block head_extra %}{% endblock %}
</head>
<body>

<header>
    {% block header %}
        <a href="/"><h1>blogson</h1></a>
        <p class="meta">{% block header_extra %}{% endblock %}</p>
        <div class="right">
            {% block header_links %}{% endblock %}
        </div>
    {% endblock %}
</header>

{% with messages = get_flashed_messages() %}
    {% for msg in messages %}
        <div class="flash">{{ msg }}</div>
    {% endfor %}
{% endwith %}

<aside>
    {% block aside %}{% endblock %}
</aside>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    {% block footer %}
        <a href="/admin">admin</a>
        <a href="https://github.com/JanGolicnik">my github</a>
        {% block footer_extra %}{% endblock %}
    {% endblock %}
</footer>

{% block scripts %}{% endblock %}

</body>
</html>
